nav .item {
    text-decoration: none;
}
nav .active {
    color: silver;
}

.nav-link {
    text-decoration: none;
}

.col-md-3 .well{
    height: 100px;
    background-color: silver;
    opacity: 60;
}

.col-md-3 img{
    height: 200px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
    background-position: center;
}

footer, article {
    color: white;
}
